@using ECommerce.Models;

@{
    Layout = "~/Views/Shared/Layout.cshtml";
    Produto produto = ViewBag.Produto;
}
<div>
    <h1>Alterar Produto</h1>

    @using (Html.BeginForm())
    {


        <fieldset>
            @Html.Hidden("produtoID", produto.ProdutoID)
            @Html.Label("Nome do Produto: ", "Nome do Produto", new { @class = "form-group row" })
            @Html.TextBox("txtNome", produto.Nome, null, new { @class = "form-control" })<br>

            @Html.Label("Descrição do Produto: ", "Descrição do Produto", new { @class = "form-group row" })
            @Html.TextBox("txtDescricao", produto.Descricao, null, new { @class = "form-control" })<br>

            @Html.Label("Preço do Produto: ", "Preço do Produto", new { @class = "form-group row" })
            @Html.TextBox("txtPreco", produto.Preco, null, new { @class = "form-control" })<br>

            @Html.Label("Categoria do Produto: ", "Categoria do Produto", new { @class = "form-group row" })
            @Html.TextBox("txtCategoria", produto.Categoria, null, new { @class = "form-control" })<br>
            <input type="submit" value="Alterar" class = "btn btn-secondary" />
        </fieldset>
    }
</div>



