
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
  <div>
    <h1>Cadastrar Produto</h1>

    @using (Html.BeginForm())
    {
        <fieldset>
            @Html.Label("Nome do Produto: ", "Nome do Produto", new { @class = "form-group row" })
            @Html.TextBox("txtNome", null, new { @class = "form-control" })<br>

            @Html.Label("Descrição do Produto: ", "Descrição do Produto", new { @class = "form-group row" })
            @Html.TextBox("txtDescricao", null, new { @class = "form-control" })<br>

            @Html.Label("Preço do Produto: ", "Preço do Produto", new { @class = "form-group row" })
            @Html.TextBox("txtPreco", null, new { @class = "form-control" })<br>

            @Html.Label("Categoria do Produto: ", "Categoria do Produto", new { @class = "form-group row" })
            @Html.TextBox("txtCategoria", null, new { @class = "form-control" })<br>

            <input type="submit" value="Cadastrar"class = "btn btn-secondary" />
        </fieldset>
    }
  </div>
