
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar Produto</title>
</head>
<body>

    <h1>Cadastrar Produto</h1>

    @using (Html.BeginForm())
    {
        <div>
            @Html.Label("Nome do Produto: ")
            @Html.TextBox("txtNome")<br>

            @Html.Label("Descrição do Produto: ")
            @Html.TextBox("txtDescricao")<br>

            @Html.Label("Preço do Produto: ")
            @Html.TextBox("txtPreco")<br>

            @Html.Label("Categoria do Produto: ")
            @Html.TextBox("txtCategoria")<br>

            <input type="submit" value="Cadastrar" />
        </div>
    }

</body>
</html>
